*{
    margin: 0;
    padding: 0;
}
.main-section{
    height: 100vh;
    background-color: blanchedalmond;
}
.flag-gs{
    height: 250px;
    width: 500px;
    background-color: green; 
    position: relative;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
}
.flag-rs{
    height: 120px;
    width: 120px;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}
.flag-handle{
    height: 200px;
    width: 30px;
    background-color: rgb(84, 80, 80);
    position: relative;
    top: 90%;
    border-top-right-radius: 20px;

}
.flag-footer{
    height: 40px;
    width: 80px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 100%;
    left: -50%;

}